@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 24px solid oklch(70.7% 0.165 254.624);
  border-radius: 12px;
  top: -20%;
  left: 50%;
  transform: translateX(-50%) rotate(0deg);
}

.spin {
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.marker {
  background-image: url("/icon.png");
  background-size: cover;
  width: 38px;
  height: 38px;
}
.asig {
  height: 16px;
  width: 16px;
  background-color: orange;
}
.popup {
  font-family: sans-serif;
  font-weight: bold;
}

#map-container {
  height: 100%;
  width: 100%;
  background-color: lightgrey;
}

.info-text {
  text-align: center;
  margin-top: -20px;
  margin-bottom: 20px;
}
.red-marker {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 10px solid red;
}

.yellow-marker {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 10px solid yellow;
}

.green-marker {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 10px solid green;
}

.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: white solid 2px;
  position: relative;

  z-index: 20;
}

.line {
  display: grid;
  justify-items: center;
  position: absolute;
  width: 2px; /* Line thickness */
  height: 50%; /* Full height of the circle */
  background-color: lightblue; /* Line color */
  top: 0;
  left: 50%;
  transform-origin: 50% 100%; /* Pivot around the center of the circle */
}

/* Each line is rotated to form 120-degree intervals */
.line:nth-child(1) {
  transform: rotate(0deg);
}

.line:nth-child(2) {
  transform: rotate(120deg);
}

.line:nth-child(3) {
  transform: rotate(240deg);
}
